---
console.log(`H1>${JSON.stringify(Astro.props)}`)
const { as: Component, href } = Astro.props;
---

<h1>
    <a href="">
        <slot />
    </a>
</h1>

<style>
  h1 {
    color: #97443a;
  }
  a{
	text-decoration: none;
  }
</style>