---
type Props = {
  level: number;
}
const { level } = Astro.props;
---

<Fragment set:html={`<h${level}>`}>
  <a href="">
    <slot />
  </a>
<Fragment set:html={`</h${level}>`}>

<style>
  :global(h1) {
    color: #5599bb;
  }
  a{
	text-decoration: none;
  }
</style>
