---
export interface Props {
	raw: string;
}

const { raw } = Astro.props;

const html = await Astro.slots.render('default');
import { Code } from 'astro/components';
---
<h2>Card Component</h2>
<Fragment set:html={html} />
<h2>Card Html</h2>
<Code code={html} lang="html" />
<h2>Card Code</h2>
<Code code={raw} lang="html" />


<style>
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
