---
import Layout from '../layouts/Layout.astro';
import { get_var } from './server';
import { project_dir } from '../libs/utils';

const proj = project_dir(import.meta.url)

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Error <span class="text-gradient">Page</span> hanlding</h1>
		<a href={`https://github.com/MicroWebStacks/astro-examples/tree/main/${proj}`} target="_blank">github project '{proj}'</a>
		<p>Example to show how Astro handles a 404 page not found error </p>
		<p>Click on the next link or type any page url to trigger the error </p>
		<p>
			<a href="/does_not_exist" >Go to 'does_not_exist'</a>
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
