---
import Layout from '../layouts/Layout.astro';
import { get_count } from './events';
import Card from '../components/Card.astro'


const current_count = get_count()

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Astro <span class="text-gradient">UID scoped Components</span></h1>
		<p>Every component has a generated UID to scope its js code</p>
		<Card title="Test" />
		<Card title="Test" />
		<Card title="Test" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>

<script>
	const evtSource = new EventSource("/api/stream")
	
	evtSource.onmessage = (event) => {
		const span = document.querySelector('.text-gradient')
		const data = JSON.parse(event.data)
		console.log(data.counter)
		span.textContent = data.counter

	}
	evtSource.onerror = (err) => {
		  console.error("EventSource failed:", err);
		  evtSource.close();
	};	
</script>