---
import Lottie from "lottie-react";
import groovyWalkAnimation from "../lottie/groovyWalk.json";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<Lottie animationData={groovyWalkAnimation} loop={true} client:load/>
	</body>
</html>
