---
export interface Props {
  example: object;
}

const { example } = Astro.props as Props;

const title = example.dir.replace("_"," ")
---
<div class="example container">
  <div class="title">{title}</div>
  <a class="link tag" href={example.href} target="_blank">repo link</a>
  <div class="tag" href={example.href} target="_blank">Astro {example.astro}</div>
</div>

<style>
.title{

}
.example.container{
  padding:10px;
	background-color: #eff8;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display:flex;
  flex-direction:column;
  gap:5px;
}
.tag{
  color:#333;
  background-color:#eee;
  padding:3px;
  width:fit-content;
  border-radius:5px;
}
a.link{
  text-decoration:none;
}
a.link:hover{
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
}
</style>
