---
//https://ellodave.dev/blog/article/using-svgs-as-astro-components-and-inline-css/
import {existsSync,readFileSync} from 'fs'
import { config } from '@/config';
import {join} from 'path'
export interface Props {
  filename: string;
}

const { filename } = Astro.props as Props;
const filepath = join(config.rootdir,`src/assets/${filename}.svg`)
const innerHTML = existsSync(filepath)?readFileSync(filepath).toString():"<svg/>";
---
<div class="icon">
  <Fragment set:html={innerHTML} />
</div>

<style is:global>
div.icon > svg{
  height: 20px;
  width:  20px;
 } 
</style>
