---
import Layout from '../layouts/Layout.astro';

const proj = "19_cookie-counter"

let counter = 0

if(Astro.cookies.has("counter")){
	const cookie = Astro.cookies.get("counter")
	counter = parseInt(cookie.value) + 1
	console.log(`index> cookie exist (${counter})`)
}else{
	console.log("index> cookie does not exist starting from 0")
}

Astro.cookies.set("counter",counter)

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Astro cookie <span class="text-gradient">{counter}</span></h1>
		<a href={`https://github.com/MicroWebStacks/astro-examples/tree/main/${proj}`} target="_blank">github project '{proj}'</a>
		<p class="instructions">
			Counts the pages load for a specific client with cookies
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
