---
import Layout from '../layouts/Layout.astro';

const proj = "24_api-proxy"

//This will not work because Astro does not forward the server.proxy param
//const response = await fetch('/api'); 
const response = await fetch('http://localhost:4000/api');
const data = await response.json();
console.log(data);

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Astro API Proxy <span class="text-gradient">{data}</span></h1>
		<a href={`https://github.com/MicroWebStacks/astro-examples/tree/main/${proj}`} target="_blank">github project '{proj}'</a>
		<p>testing Vite API proxy</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
