---
import {astToDataTable} from '@/libs/table.js'

export interface Props {
    node: object;
}

const { node } = Astro.props as Props;

const data = astToDataTable(node)
const [table_head, ...table_rows] = data;
const table_string = JSON.stringify(table_rows)

---
<div class="container">
    <table class="data-table" data-table={table_string}>
        <thead>
            <tr>
            {table_head.map((cell)=>(
                <th>{cell}</th>
            ))}
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated dynamically using JavaScript -->
        </tbody>
    </table>
</div>

<style>
.container{
    padding:5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px #ccc;
}
</style>

<script src="./data-tables.js" />
