---
import Layout from '../layouts/Layout.astro';

const proj = "52_kutejs-morph"
const node_version = process.version
console.log(`index.astro> node version = ${node_version}`)

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Astro example lib <span class="text-gradient">Kute.js</span></h1>
		<a href={`https://github.com/MicroWebStacks/astro-examples/tree/main/${proj}`} target="_blank">github project '{proj}'</a>
		<p>
			<button id="start"">Start</button>
		</p>
		<svg id="morph-example" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
			<path id="rectangle" class="bg-red" d="M38.01,5.653h526.531c17.905,0,32.422,14.516,32.422,32.422v526.531 c0,17.905-14.517,32.422-32.422,32.422H38.01c-17.906,0-32.422-14.517-32.422-32.422V38.075C5.588,20.169,20.104,5.653,38.01,5.653z"/>
			<path id="star" style="visibility:hidden" d="M301.113,12.011l99.25,179.996l201.864,38.778L461.706,380.808 l25.508,203.958l-186.101-87.287L115.01,584.766l25.507-203.958L0,230.785l201.86-38.778L301.113,12.011"/>
		</svg>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.bg-red{
		fill: #d69293;

	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>


<script>
	import KUTE from 'kute.js'
	const start = document.getElementById('start')
	start.onclick = ()=>{
		var tween = KUTE.to('#rectangle', { path: '#star' }).start();
	}
</script>
