---
import Layout from '../layouts/Layout.astro';
import MyLocal from '../components/MyLocal.astro';
import MyPicture from '../components/MyPicture.astro';
import MyImage from '../components/MyImage.astro';

const proj = "16_images"
const node_version = process.version
console.log(`index.astro> node version = ${node_version}`)

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Astro <span class="text-gradient">Images</span></h1>
		<a href={`https://github.com/MicroWebStacks/astro-examples/tree/main/${proj}`} target="_blank">github project '{proj}'</a>
		<p class="instructions">
			This is a minimal example that shows the node version running
		</p>
		<a href="https://github.com/MicroWebStacks/astro-examples/tree/main/01_basics">github</a>
		<a href="/picture">picture</a>
		<a href="/image">image</a>
		<a href="/local">local</a>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
