name: Deploy
on: [push]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: pnpm install

      - name: Build Astro
        run: pnpm run build
      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: "astro-deno-env"
          entrypoint: "./server/entry.mjs"
          root: dist
          