---
import Layout from '../layouts/Layout.astro';

const proj = "07_ssr-forms"

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("username");
    const email = data.get("email");
    const password = data.get("password");
    console.log(` => registred '${name}' '${email}' `)
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Astro SSR <span class="text-gradient">FORMS</span></h1>
		<a href={`https://github.com/MicroWebStacks/astro-examples/tree/main/${proj}`} target="_blank">github project '{proj}'</a>
		<div class="instructions">
			<h2>Form Example Register</h2>
			<form method="POST">
			  <label>
				Username:
				<input type="text" name="username" />
			  </label>
			  <label>
				Email:
				<input type="email" name="email" />
			  </label>
			  <label>
				Password:
				<input type="password" name="password" />
			  </label>
			  <button>Submit</button>
			</form>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	h2{
		text-align: center;

	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
