---
import {getEntry} from 'content-structure'

export interface Props {
    node: object;
}

const {node} = Astro.props;

const entry = await getEntry({uid:node.tag_value})
const url = "/docs/"+entry.data.uid
---
{(node.tag_type == "page")&&
    <a href={url}>{node.tag_value}</a>
}

<style>
a{
    text-decoration: none;
    color: black;
    background-color: #ddd;
    padding: 3px;
    padding-top: 1px;
    border-radius: 5px;
}
a:hover{
    box-shadow: 2px 2px 3px 3px #ccc;
}
</style>
