---
import { useStoryblokApi } from '@storyblok/astro'
import Layout from '../layouts/Layout.astro';

const proj = "32_cms-storyblok"

const storyblokApi = useStoryblokApi()
const version = import.meta.env.DEV ? "draft" : "published"
const { data } = await storyblokApi.get('cdn/stories', {
  version,
  content_type: 'microcontroller',
})
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Astro <span class="text-gradient">Storyblok</span></h1>
		<p>
			<a href={`https://github.com/MicroWebStacks/astro-examples/tree/main/${proj}`} target="_blank">github project '{proj}'</a>
		</p>
		<h2>Stories</h2>
		{
			data.stories.map(story=>(
				<p>
					<a href={`/uc/${story.slug}`}>{story.name}</a>
				</p>
			))
		}
		<p>CMS Storyblok demo</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
